# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional cache
.eslintcache
.sass-cache

# Build Files
dist/

# Code from Example
.idea
*.iml
*.DS_Store
*.log
.project
.elasticbeanstalk/
