html,
body {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.5px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background: #0D0D0D url("../assets/index-background.jpg") no-repeat top center;
}

.body_catalog {
  background-image: none;
  background-color: #D9B573;
  color: #0D0D0D;
}

img {
  max-width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

/* Universal classes modifiers */
.hidden:not(:focus):not(:active),
input[type="checkbox"].hidden,
input[type="radio"].hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

/* Buttons */
.btn {
  font: inherit;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  width: 140px;
  height: 43px;
  border: none;

  cursor: pointer;
  text-transform: uppercase;
  background-color: #000000;
  color: #F2F2F0;
}

.btn_disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #000000;
}

.btn_wide {
  width: 100%;
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: #663d15;
}

.btn_gallery {
  position: absolute;
  box-sizing: border-box;
}

.btn__back {
  width: 160px;
  bottom: 0;
}

.btn__next {
  width: 160px;
  bottom: 0;
  right: 0;
}

.btn_mrg-right {
  margin-inline-end: 20px;
}

/* Header Styles */
.header {
  height: 70px;
  background-color: #0D0D0D;
}

.header_md-margin {
  margin-block-end: 50px;
  display: flex;
  justify-content: center;
}

.header_bg-margin {
  margin-block-end: 360px;
}

.nav {
  min-width: 960px;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.nav_flex-col {
  flex-direction: column;
}

.nav_flex-row {
  flex-direction: row;
}

.nav-wrapper {
  width: 100%;
  min-height: 72px;
  display: flex;
  justify-content: center;
  margin-block-end: 60px;
}

.nav-wrapper .container {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.nav-list {
  width: 620px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.nav-user {
  max-width: 140px;
  display: flex;
  align-items: center;
}



.nav-user_mrgauto {
  margin-inline-start: auto;
}

.nav-logo_offset {
  width: 371px;
  height: 155px;
  order: 2;
}

/* List styles */
.nav-list,
.nav-user,
.features__list,
.breadcrumbs__list,
.filter-list,
.products__list,
.list {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.nav-list__link,
.login-link {
  display: block;
  color: #ffffff;
  padding: 25px 20px;
}

.nav-list__link:hover,
.nav-list__link:focus,
.login-link:hover,
.login-link:focus {
  background-color: #242424;
}

.nav-list__item_active {
  position: relative;
}

.nav-list__item_active::after {
  content: '';
  position: absolute;

  bottom: 0;
  height: 5px;
  width: 100%;

  background-color: #ffffffff;
}

.nav-list__item_active a {
  opacity: 0.5;
}

.login-link {
  display: block;
  padding-inline-start: 50px;
  position: relative;
}

.login-link::before {
  position: absolute;
  content: "";
  left: 10px;
  opacity: 0.3;
  width: 16px;
  height: 18px;
  background-image: url("/barbershop/svg/login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
  opacity: 1;
}


/* Bread crumbs */
.breadcrumbs {
  margin-block-end: 50px;
}

.breadcrumbs__list {
  display: flex;
}

.breadcrumbs__item {
  position: relative;
  margin-inline-end: 50px;
}

.breadcrumbs_black a {
  color: black;
}

.breadcrumbs_black::after {
  position: absolute;
  content: "";
  right: -25px;
  top: 8px;
  transform: rotate(45deg);

  width: 10px;
  height: 10px;

  background-color: #0D0D0D;
}

.breadcrumbs_white a {
  color: #aba9a7;
}

img.hidden {
  display: none;
}

/* Body sections */
.features {
  margin-block-end: 85px;
}

.features__list {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.features__item {
  text-align: center;
  width: 300px;
}

.features__text {
  margin: 0 10px;
}

.features__title,
.block__title,
.modal h2,
.breadcrumbs__title {
  font-size: 30px;
  line-height: 42px;
}

.features__title {
  position: relative;
  margin: 0;
  margin-block-end: 60px;
}

.features__title::after {
  position: absolute;
  content: "";
  bottom: -30px;
  left: 50%;
  margin-left: -10px;
  transform: rotate(45deg);

  width: 20px;
  height: 20px;

  background-color: #fff;
}

.breadcrumbs__title {
  margin-block-end: 20px;
  margin-block-start: 0;
}

/* Catalog styles */
legend,
.about-us__title,
.list__title,
.price__container-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
}

legend {
  padding: 0;
  margin-block-end: 15px;
}

.about-us__text {
  margin-block-start: 0;
}

fieldset {
  border: none;
  padding: 0;
  margin-block-end: 25px;
}

.block {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 960px;
  height: 419px;
  padding: 40px 80px;
  margin: 0 auto;
  margin-block-end: 35px;

  color: black;
  background-color: #D9B573;
}

.block__title {
  margin-top: 0;
}

.block__item_news,
.block__iteam_address {
  width: 380px;
}

.block__item_news {
  display: flex;
  flex-direction: column;
}

.block__iteam_address {
  position: relative;
  display: flex;
  flex-direction: column;
}

.block__container {
  margin-block-end: 30px;
}

.block__item_gallery {
  position: relative;
}

.block__item_gallery {
  width: 340px;
}

.news-date {
  text-transform: none;
}

.block__container_gallery {
  height: 164px;
  margin: 0;

  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.block__container-text {
  margin: 0;
  margin-block-end: 10px;
}

/* Footer */
.footer {
  padding-block-start: 15px;
  height: 150px;
  background-color: #212121;
}

.footer__address {
  width: 320px;
}

.footer__address a {
  text-decoration: underline;
  color: #ffffff;
}

.footer_txt-white {
  color: #ffffff;
}

/* Social links block */
.footer-address__link {
  color: #ffffff;
}

.footer-address__link_underline {
  text-decoration: underline;
}

.footer .container {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.soc {
  width: 160px;
}

.soc__title {
  text-align: center;
}

.soc__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.soc-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #BF9969;
  width: 43px;
  height: 43px;
}

.soc-list__link:hover {
  background-color: #fff;
}

.soc-list__link:hover path,
.soc-list__link:focus path {
  fill: #0D0D0D;
}

/* CopyRight Block */
.copyright {
  width: 150px;
  text-align: center;
}


/* Forms */
.appointment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 500px;
}

.appointment-form__row {
  flex: 1 0 auto;
  display: flex;
  justify-content: space-between;
  margin-block-end: 20px;
}

.appointment-item {
  flex: 0 0 220px;
  display: inline-flex;
  position: relative;
  box-sizing: border-box;
  border-radius: 4px 4px 0 0;
  overflow: visible;
  margin: 0;
  height: 54px;
}

.appointment-item input {
  width: 100%;
  padding: 20px 16px 6px;
  text-transform: inherit;
  text-decoration: inherit;
  box-sizing: border-box;
  border-style: none;
  background: rgb(242, 242, 240);
}

.appointment-item input:focus {
  border-bottom-color: rgb(242, 242, 240);
  outline: none;
}

.appointment-label::before {
  left: 50%;
  transition: width 0.2s;
}

.appointment-label::after {
  right: 50%;
  transition: width 0.2s;
}

.appointment-label::before,
.appointment-label::after {
  position: absolute;
  bottom: 0px;
  width: 0;
  height: 2px;
  background-color: #757575;
  content: "";
}

.appointment-item input:focus~.appointment-label::before,
.appointment-item input:focus~.appointment-label::after {
  width: 50%;
}

.appointment-label label {
  position: absolute;
  left: 16px;
  right: auto;
  top: 16px;
  pointer-events: none;
  transform-origin: left top;
  text-align: left;
  white-space: nowrap;
  cursor: text;
  transition: 0.2s ease all;
  will-change: transform;
}

.appointment-item input:focus~.appointment-label label {
  padding: 1px 2px;
  font-size: 12px;
  transform: translateY(-50%);
}

/* Modal windows */
.modal {
  color: #000000;
  background-color: #D9B573;
}

.modal input {
  font: inherit;
  background-color: transparent;
  border: 2px solid #000000;
  text-transform: uppercase;
}

.modal input:focus {
  border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: white;
}

/* Filter Form */
.filters {
  flex: 1 0 auto;
}

.filter-list {
  display: flex;
  flex-direction: column;
  margin-block-start: 0;
}

.filter__input,
.filter-input__label {
  cursor: pointer;
}

.filter-list__option {
  height: 34px;
  position: relative;
}

.filter-input__label {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
  padding: 6px 0;
}

.filter-input__label:hover {
  background-color: #bdac98;
}

.filter-input__label_mrgbig,
.filter-input__label_mrgradio {
  padding-inline-start: 30px;
}

.filter__input_checkbox,
.filter__input_radio {
  position: relative;
}

.filter__input_checkbox+label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border: 2px solid #000101;
}

.filter__input_checkbox:checked+label,
.filter__input_radio:checked+label {
  background-color: #d1b79a;
}

.filter__input_checkbox:checked+label::before {
  background-image: url("/barbershop/svg/cross.svg");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: 14px;
}

.filter__input_radio+label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #000101;
}

.filter__input_radio:checked+label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 2px solid #000101;
  background-color: #0D0D0D;
}

/* Catalog of products */
.container_flex-row {
  display: flex;
}

.products {
  flex: 1 1 auto;
  margin-block-end: 45px;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.products__item {
  background: #F2F2F0;
  width: 220px;
  height: 286px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-block-end: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.25s ease-in-out;
}

.products__item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
}

.products__image {
  margin: 0;
}

.products__descr-wrapper {
  padding: 10px;
  font-size: 14px;
  margin: 0;
}

.products__category {
  text-transform: none;
}

.products__item-link {
  color: #000000;
}

.products__price {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 10px;
}

.products__price_nopadding {
  padding: 0;
  margin-block-end: 70px;
}

.products-price {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 43px;
  font-weight: 700;
  margin: 0;
  background-color: #aba9a7;
}

/* Pagination */
.pagination {
  margin-block-end: 50px;
  margin-inline-start: 15px;
}

.list_pagination {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list__item {
  margin-inline-end: 10px;
}

.list__item_box a {
  display: block;
  padding: 9px 15px;

  text-align: center;
}

.list__item_black a {
  color: #ffffff;
  background-color: #0D0D0D;
}

.list__item_black a {
  color: #ffffff;
}

.list__item_white {
  background-color: #F2F2F0;
}

.list__item_white a {
  color: #000000;
}

.list__item_white a {
  color: #000000;
}

/* Price page */
.title__price {
  position: relative;
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  align-self: center;
  margin-block-end: 40px;
}

.title__price::before {
  content: '_______';
  position: absolute;
  left: -200px;
  top: -20px;
}

.title__price::after {
  content: '_______';
  position: absolute;
  left: 560px;
  top: -20px;
}

.price__container_w400,
.about-us_w400 {
  width: 400px;
  margin-inline-end: 100px;
}

.price__container_w600,
.about-us_w600 {
  width: 600px;
}

.price__items {
  position: relative;
  margin-block-end: 15px;
  padding-inline-start: 20px;
}

.price__items::before {
  position: absolute;
  content: "";
  left: 0;
  top: 6px;
  transform: rotate(45deg);

  width: 10px;
  height: 10px;

  background-color: #0D0D0D;
}

.price__table {
  border-collapse: collapse;
  border-color: black;
  border-width: 2px;
  width: 100%;

}

td {
  padding: 15px;
  width: 200px;
  border-width: 2px;
}

.td__price {
  text-align: center;
}

/* Item styles */
.descr__id {
  color: #aba9a7;
}

.price__descr {
  display: flex;
  justify-content: space-between;
  margin-block-end: 50px;
}

.price__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-us {
  margin-block-end: 80px;
}

.about-us__container {
  display: flex;
  justify-content: space-between;
}

/*Price Flex layout */
.main {
  width: 960px;
  margin: 0 auto;
  margin-block-end: 50px;
}

.main_flex {
  display: flex;
}

.main_flex-col {
  flex-direction: column;
}

.item__info {
  display: flex;
  justify-content: space-between;
}


.item__gallery {
  max-width: 420px;
}


.item__descr {
  max-width: 450px;
}

.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.descr__header {
  display: flex;
  justify-content: space-between;
}

.descr__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.descr__item {
  position: relative;
  padding-inline-start: 20px;
}

.descr__item::before {
  position: absolute;
  content: "";
  left: 0;
  top: 6px;
  transform: rotate(45deg);

  width: 10px;
  height: 10px;

  background-color: #0D0D0D;
}

.descr__main {
  margin-block-end: 50px;
}

/* Modal window */
.modal-root {
  position: fixed;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  top: 0;
  opacity: 0;
  width: 0px;
  height: 0px;
  transition: opacity 0.15s ease-out,
    width 0s linear 0.15s,
    height 0s linear 0.15s;
}

.modal-root_visible {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.15s ease-out;
}

.modal {
  position: fixed;
  color: #000000;
}

.modal-map {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2),
    0 12px 17px 2px rgba(0, 0, 0, .14),
    0 5px 22px 4px rgba(0, 0, 0, .12);
  width: 767px;
  height: 561px;
}

.modal-map p {
  margin: 0;
}

.modal-login {
  width: 300px;
  padding: 50px 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
}

.modal-login h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 42px;
}

.modal-descr {
  margin: 0;
  margin-block-end: 10px;
}

.modal-close_login {
  position: absolute;
  top: 0;
  right: 0;
  width: 22px;
  height: 22px;
  font-size: 0;
  cursor: pointer;
}

.modal-close_login::before,
.modal-close_login::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 19px;
  height: 3px;

  background-color: #0D0D0D;
}

.modal-close_login::before {
  transform: rotate(45deg);
}

.modal-close_login::after {
  transform: rotate(-45deg);
}

@keyframes shuffle {
  from {
    right: -30px;
  }

  50%,
  60% {
    right: -40px;
  }

  100% {
    right: -30px;
  }
}

.modal-close_shuffle {
  animation-name: shuffle;
  animation-duration: 0.4s;
  animation-iteration-count: 2;
  animation-timing-function: ease-out;
}

.modal-close_map {
  position: absolute;
  top: 0;
  right: -30px;
  width: 43px;
  height: 140px;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-weight: 600;
  letter-spacing: 5px;
  text-align: center;
  background-color: #c5c5c5;
  border: 0;
  z-index: -1;
  cursor: pointer;
  transform: translateY(0px);
  transition: transform 300ms cubic-bezier(0, 0, 0.58, 1);
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2),
    0 12px 17px 2px rgba(0, 0, 0, .14),
    0 5px 22px 4px rgba(0, 0, 0, .12);
}

.modal-close_map:hover,
.modal-close_map:focus {
  transform: translateX(10px);
}


.login-form p {
  margin: 0;
  margin-block-end: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 300px;
  box-sizing: border-box;
  padding: 10px 15px;
  padding-inline-end: 40px;

}

.login-icon-user {
  background-image: url("/barbershop/svg/user.svg");
  background-repeat: no-repeat;
  background-position: 260px center;
}

.login-icon-password {
  background-image: url("/barbershop/svg/lock.svg");
  background-repeat: no-repeat;
  background-position: 260px center;
}

.login-password-info {
  display: flex;
  justify-content: space-between;
}

.login-checkbox {
  position: relative;
  cursor: pointer;
  padding-inline-start: 30px;
}

.login-checkbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/barbershop/svg/cross.svg");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: 14px;
  width: 20px;
  height: 20px;
  border: 2px solid #000101;
}

.link_restore {
  text-decoration: underline;
}
