html,
body {
  box-sizing: border-box;
  min-width: 1122px;
  min-height: 1750px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background: #0D0D0D url("../assets/index-background.jpg") no-repeat top center;

}

.body_catalog {
  background-image: none;
  background-color: #D9B573;
  color: #0D0D0D;
}

a {
  text-decoration: none;
}

/* Universal classes modifiers */
.hidden {
  visibility: hidden;
}

/* Buttons */
.btn {
  font: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 43px;
  border: none;

  cursor: pointer;
  text-transform: uppercase;
  background-color: #000000;
  color: #F2F2F0;
}

.btn_wide {
  width: 100%;
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: #663d15;
}


/* Header Styles */
.header {
  margin-block-end: 75px;
}

.nav {
  display: flex;
  flex-direction: column;
   align-items: center;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #0D0D0D;
}

.nav-logo {
  order: 2;

}

.nav-wrapper {
  width: 100%;
  min-height: 72px;
  display: flex;
  justify-content: center;
  margin-block-end: 60px;
}

.nav-wrapper .container {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.nav-list {
  width: 620px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-user {
   width: 140px;
  display: flex;
  align-items: center;
}

.nav-logo_offset {
  /* position: absolute;
  top: 20%;
  left: 40%; */
  width: 371px;
  height: 155px;
}

/* List styles */
.nav-list,
.nav-user,
.features__list,
.breadcrumbs__list,
.filter-list,
.products__list,
.list {
  /* display: flex; */
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.nav-list a,
.nav-user a {
  color: #ffffff;
}

.nav-list a:hover,
.nav-list a:focus,
.nav-user a:hover,
.nav-user a:focus {
  background-color: #242424;
}

.breadcrumbs_black a{
  color: black;
}

.breadcrumbs_white a{
 color: #aba9a7;
}

img.hidden {
  display: none;
}

/* Body sections */
.features__list {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.features__item {
  text-align: center;
  width: 300px;
}

.features__title,
.block__titl,
.modal h2,
.breadcrumbs__title {
  font-size: 30px;
  line-height: 42px;
}

/* Catalog styles */
legend,
.price__container-title,
.list__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
}

fieldset {
  border: none;
}

.block {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 960px;
  height: 419px;
  padding: 59px 80px;
  margin: 0 auto;
  margin-block-end: 35px;

  color: black;
  background-color: #D9B573;
}

.block__item_news,
.block__iteam_address {
  width: 380px;
}

.appointment,
.block__item_gallery {
  width: 300px;
}

.news-date {
  text-transform:none;
}

.block__container_gallery {
  background-color: #cccccc;
  border: 7px solid #ffffff;
}

/* Footer */
.footer {

padding-block-start: 15px;
height: 150px;
background-color: #212121;
}

.footer__address {
  width: 320px;
}

.footer_txt-white {
  color: #ffffff;
}

/* Social links block */
.footer-address__link {
  text-decoration: underline;
  color: #ffffff;
}

.footer .container {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.soc {
  width: 160px;
}

.soc__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.soc-list__link {
  position: relative;
  display: block;
  overflow: hidden;
  text-align: center;
  border-radius: 50%;
  background-color: #BF9969;
  width: 43px;
  height: 43px;
}

/* CopyRight Block */
.copyright {
  width: 150px;
  text-align: center;
}


/* Forms */
.appointment-form {
  max-width: 300px;
  overflow: hidden;
}

.appointment-item input,
.modal input {
  font: inherit;
  background-color: transparent;
  border: 2px solid #000000;
}

/* Modal windows */
.modal {
  color: #000000;
  background-color: #D9B573;
}

.modal input {
  text-transform: uppercase;
}

.modal input:focus {
  border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color:white;
}

/* Filter Form */
.filter__input,
.filter-input__label {
  cursor: pointer;
}

.filter-input__label:hover {
  color: #663d15;
}

/* Catalog of products */

.products__item {
  background: #F2F2F0;
  width: 244px;
  height: 310px;
}

.products__item-link {
  color: #000000;
}

.products__price p {
  width: 110px;
  height: 43px;
  margin:0;

  background-color: #aba9a7;
}

.list__item_box {
  width: 43px;
  height: 43px;

}

.list__item_black{
    background-color: #0D0D0D;
}

.list__item_white {
    background-color: #F2F2F0;
}

/* Price page */
.title__price {
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
}

.price__items::before {
  content: "\2666";
}

.price__table {
  border-collapse: collapse;
  border-color: white;
}

/* Item styles */
.descr__id {
  color: #aba9a7;
}
