//Font weight
$font-weigth-400: 400;
$font-weigth-700: 700;
$font-weigth-600: 600;

//Colors
$color-white: rgb(255, 255, 255);
$color-darkgrey: rgb(13, 13, 13);
$color-dark: rgb(0, 0, 0);
$color-dark2:rgb(0, 1, 1);
$color-brown: rgb(102, 61, 21);
$color-light-brown: rgb(217, 181, 115);
$color-light: rgb(209, 183, 154);
$color-grey: rgb(117, 117, 117);
$color-beige: rgb(189, 172, 152);
$color-dark3:rgb(36, 36, 36);
$color-darkgrey:rgb(66, 64, 62);
