/* Price Containers on price page */
.price {
  @include flex-common;
  margin-block-end: 50px;

  &__wrapper {
    &_w400 {
      width: 400px;
      margin-inline-end: 100px;
    }

    &_w600 {
      width: 600px;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 30px;
    font-weight: $font-weigth-400;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__items {
    position: relative;
    margin-block-end: 15px;
    padding-left: 20px;

    &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 6px;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: $color-darkgrey;
    }
  }

  &__table {
    border-collapse: collapse;
    border-color: $color-dark;
    border-width: 2px;
    width: 100%;
  }

  &__td-service {
    padding: 15px;
    width: 200px;
    border-width: 2px;
  }

  &__td-price {
    text-align: center;
  }
}
