.soc {
  width: 160px;

  &__title {
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $color-light-brown;
    width: 43px;
    height: 43px;

    &:hover {
      background-color: $color-white;
    }

    &:hover path,
    &:focus path {
      fill: $color-darkgrey;
    }
  }
}


