<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

<!--   <link rel="preload" href="./fonts/web/ptsansnarrowbold.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="./fonts/web/ptsansnarrow.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="./css/styles.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="./css/styles.css"></noscript> -->
</head>

<body class="body_catalog">
  <%= require('html-loader!./partials/header-all.html') %>


<section class="main main_flex main_flex-col">

  <section class="breadcrumbs">
    <h1 class="breadcrumbs__title">Some stuff to purchase</h1>
    <ul class="breadcrumbs__list">
      <li class="breadcrumbs__item breadcrumbs_black"><a href="./index.html">All</a></li>
      <li class="breadcrumbs__item breadcrumbs_black"><a href="./catalog.html">Shop</a></li>
      <li class="breadcrumbs__item breadcrumbs_white"><a href="#">{breadcrumbs__title}></a></li>
    </ul>
  </section>

  <section class="container_flex-row">
    <aside class="filters">
      <div class="filters__companies">
        <!-- Form -->
        <form method="get" action="#" class="filter">
          <fieldset>
            <legend>Brands:</legend>
                <ul class="filter-list">
                  <li class="filter-list__option filter-list__option_cross">
                    <input class="hidden filter__input filter__input_checkbox" type="checkbox" name="baxter-california" id="filter-baxter" checked>
                    <label class="filter-input__label filter-input__label_mrgbig" for="filter-baxter">Baxter of California</label>
                  </li>
                  <li class="filter-list__option filter-list__option_cross">
                    <input class="hidden filter__input filter__input_checkbox" type="checkbox" name="mr-natty" id="filter-natty">
                    <label class="filter-input__label filter-input__label_mrgbig" for="filter-natty">Mr Natty</label>
                  </li>
                  <li class="filter-list__option filter-list__option_cross">
                    <input class="hidden filter__input filter__input_checkbox" type="checkbox" name="suavecito" id="filter-suavetico" checked>
                    <label class="filter-input__label filter-input__label_mrgbig" for="filter-suavetico">Suavecito</label>
                  </li>
                  <li class="filter-list__option filter-list__option_cross">
                    <input class="hidden filter__input filter__input_checkbox" type="checkbox" name="malin-goetz" id="filter-malin-goetz">
                    <label class="filter-input__label filter-input__label_mrgbig" for="filter-malin-goetz">Malin + Goetz</label>
                  </li>
                  <li class="filter-list__option filter-list__option_cross">
                    <input class="hidden filter__input filter__input_checkbox" type="checkbox" name="murray" id="filter-murray">
                    <label class="filter-input__label filter-input__label_mrgbig" for="filter-murray">Murray's</label>
                  </li>
                  <li class="filter-list__option filter-list__option_cross">
                    <input class="hidden filter__input filter__input_checkbox" type="checkbox" name="american-crew" id="filter-american-crew" checked>
                    <label class="filter-input__label filter-input__label_mrgbig" for="filter-american-crew">American Crew</label>
                  </li>
                </ul>
          </fieldset>

          <fieldset>
            <legend>Product Groups:</legend>
            <ul class="filter-list">
                <li class="filter-list__option filter-list__option_circle">
                  <input class="hidden filter__input filter__input_radio" type="radio" name="product=group" id="filter-shave" >
                  <label class="filter-input__label filter-input__label_mrgradio" for="filter-shave">Shave stuff</label>
                </li>
                <li class="filter-list__option filter-list__option_circle">
                  <input class="hidden filter__input filter__input_radio" type="radio" name="product=group" id="filter-care">
                  <label class="filter-input__label filter-input__label_mrgradio" for="filter-care">Care stuff</label>
                </li>
                <li class="filter-list__option filter-list__option_circle">
                  <input class="hidden filter__input filter__input_radio" type="radio" name="product=group" id="filter-accessories" >
                  <label class="filter-input__label filter-input__label_mrgradio" for="filter-accessories">Men's accessories</label>
                </li>
            </ul>
          </fieldset>

          <button type="submit" class="filter-btn btn">Filter</button>
        </form>

    </aside>

    <main class="container ">
      <section class="products">
        <ul class="products__list">
          <li class="products__item">
            <a class="products__item-link" href="./item.html">
              <p class="products__image">
                <img src="./assets/catalog-item.png" width="220px" height="165px" alt="Item image">
              </p>
              <h3 class="products__descr-wrapper">
                <span class="products__category">Traveller pack</span><br>
                <span class="products__name">«Baxter of California»</span>
              </h3>
            </a>

              <div class="products__price products__price_nowrap">
                <p class="products-price">2900</p>
                <a class="btn" href="#">Purchase</a>
              </div>

            </li>

        <li class="products__item">
          <a class="products__item-link" href="./item.html">
            <p class="products__image">
              <img src="./assets/catalog-item.png" width="220px" height="165px" alt="Item image">
            </p>
            <h3 class="products__descr-wrapper">
              <span class="products__category">Traveller pack</span><br>
              <span class="products__name">«Baxter of California»</span>
            </h3>
          </a>

          <div class="products__price products__price_nowrap">
            <p class="products-price">2900</p>
            <a class="btn" href="#">Purchase</a>
          </div>

        </li>

          <li class="products__item">
            <a class="products__item-link" href="./item.html">
              <p class="products__image">
                <img src="./assets/catalog-item.png" width="220px" height="165px" alt="Item image">
              </p>
              <h3 class="products__descr-wrapper">
                <span class="products__category">Traveller pack</span><br>
                <span class="products__name">«Baxter of California»</span>
              </h3>
            </a>

            <div class="products__price products__price_nowrap">
              <p class="products-price">2900</p>
              <a class="btn" href="#">Purchase</a>
            </div>

          </li>

          <li class="products__item">
            <a class="products__item-link" href="./item.html">
              <p class="products__image">
                <img src="./assets/catalog-item.png" width="220px" height="165px" alt="Item image">
              </p>
              <h3 class="products__descr-wrapper">
                <span class="products__category">Traveller pack</span><br>
                <span class="products__name">«Baxter of California»</span>
              </h3>
            </a>

            <div class="products__price products__price_nowrap">
              <p class="products-price">2900</p>
              <a class="btn" href="#">Purchase</a>
            </div>

          </li>

            <li class="products__item">
              <a class="products__item-link" href="./item.html">
                <p class="products__image">
                  <img src="./assets/catalog-item.png" width="220px" height="165px" alt="Item image">
                </p>
                <h3 class="products__descr-wrapper">
                  <span class="products__category">Traveller pack</span><br>
                  <span class="products__name">«Baxter of California»</span>
                </h3>
              </a>

              <div class="products__price products__price_nowrap">
                <p class="products-price">2900</p>
                <a class="btn" href="#">Purchase</a>
              </div>

            </li>

            <li class="products__item">
              <a class="products__item-link" href="./item.html">
                <p class="products__image">
                  <img src="./assets/catalog-item.png" width="220px" height="165px" alt="Item image">
                </p>
                <h3 class="products__descr-wrapper">
                  <span class="products__category">Traveller pack</span><br>
                  <span class="products__name">«Baxter of California»</span>
                </h3>
              </a>

              <div class="products__price products__price_nowrap">
                <p class="products-price">2900</p>
                <a class="btn" href="#">Purchase</a>
              </div>

            </li>




        </ul>
      </section>

      <div class="pagination">
          <ul class=" list_pagination">
            <li class="list__item list__item_box list__item_black"><a href="#">1</a></li>
            <li class="list__item list__item_box list__item_white"><a href="#">2</a></li>
            <li class="list__item list__item_box list__item_black"><a href="#">3</a></li>
            <li class="list__item list__item_box list__item_black"><a href="#">4</a></li>
          </ul>
      </div>
    </main>
  </section>
</section>



<%= require('html-loader!./partials/footer-all.html') %>
<div class="modal-root modal-root_login">
  <%= require('html-loader!./partials/form-login.html') %>
  <%= require('html-loader!./partials/map.html') %>
</div>
</body>

</html>
